/.vscode
/clean_light.png
/dark.png
/dark2.png
/extracted_answers.xlsx
/image_links.xlsx
/issue1.png
/issue11.png
/issue12.png
/issue13.png
/issue2.png
/issue3.png
/issue4.png
/issue5.png
/issue6.png
/issue7.png
/issue8.png
/issue9.png
/results_20250618_113215
/results_20250618_151321
/results_20250620_144051
/results_20251031_152840
/results_20251103_121630
/results_20251103_153235
/template_matching_results.png
/template_matching_results_20250619_191229
/test10.png
/test2.png
/test3.png
/test4.png
/test6.png
/test7.png
/__pycache__